# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

*.cfg text
*.conf text
*.css text
*.html text
*.in text
*.ini text
*.py text
*.rst text
*.txt text
*.po text
*.pot text

*.mo binary
*.png binary
