FormEncode.egg-info
*.pyc
docs/_build
docs/_static
dist/
*.tox

# PyCharm users, please keep your data locally.
.idea/

# When you run ``python setup.py [test|nosetests]``
# from project's root tree, the script checks [and downloads, if necessary] 
# packages which are specified in setup.py -> tests_require.
# Therefore we must explicitly ignore all downloaded *.egg packages.
*.egg