{{py:cls_title = crudapp.object_class_title(object_class)}}
<html>
 <head>
  <title>Index of {{cls_title}}</title>
 </head>
 <body>
  <h1>Index of {{cls_title}}</h1>

  <div>
    Description: {{crudapp.object_class_description(object_class)}}
  </div>

  <div>
   <a href="{{req.application_url}}/__create__">Create {{cls_title}}</a>
  </div>

  Existing objects:

  <ul>
  {{for name, object in objects:}}
    {{py:desc = crudapp.object_description(object)}}
    <li>{{crudapp.object_title(object)}} (<a href="{{req.application_url}}/{{name|url}}">Edit {{name}}</a>)
    {{if desc}}
      <br> {{desc}}
    {{endif}}
    </li>
  {{endfor}}
  </ul>

  {{if not objects:}}
    <p>No objects exist!</p>
  {{endif}}

 </body>
</html>
