<html>
 <head>
  <title>Index of Object Types</title>
 </head>
 <body>
  <h1>Index of Object Types</h1>

  <ul>
   {{for class_name in object_classes:}}
     <li><a href="{{req.application_url}}/{{class_name|url}}">{{class_name}}</a></li>
   {{endfor}}
  </ul>

  {{if not object_classes:}}
    No classes are defined!
  {{endif}}

 </body>
</html>

  
